.container{
    background-color:#bd8a8a;
    margin-left:100px;
    margin-top:200px;
    padding:20px;
    height:200px;
    width:300px;
    border-radius: 20px;
   


input,button{
    background:rgb(209, 207, 224);
    border: none;
    border-radius: 20px;
    height:30px;
}



